* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 2em;
  background-color: #2e3648;
  color: white;
}

.title {
  margin-bottom: 1rem;
  font-size: 3em;
}

.text {
  color: #9e9e9e;
}